TRAEFIK_API_URLS=http://traefik:8080 # with Auth use: http://admin:password@traefik:8080


## PAGE SETTINGS
HEADER_LINE_1=Binnacle
HEADER_LINE_2=Navigate your homelab.
HEADER_DESCRIPTION=


## CONTAINER CONTROL
EXPAND_DETAILS=false # true, false
CARD_TELEMETRY=expand #true, expand (only with expand details), false
CONTAINER_CONTROL=false #false, true. allow container controls (start, restat, stop) on the dashboard

##CARD SETTINGS
CARDS_PER_ROW=2
PAGE_BACKGROUND_STYLE=blob #mesh, grid, beams, blog, none
CARDS_BACKGROUND_STYLE=none #wave, colors, circle, photos (unsplash), none
CARDS_BACKGROUND_PHOTOS_TAGS=servers,technology # tags to retrieve Unsplash Photos
UNSPLASH_ACCESS_KEY=YOUR_UNSPLASH_KEY

#APP_NAME_DOCKER_LABEL=dashboard.title # labels: - dashboard.title=Production Gitea
#APP_NAME_DOCKER_GROUP=dashboard.group # labels: - dashboard.group=Media